// Variables included through-out the site

$morphic-blue-color: #002957;
$morphic-green-color: #028004;

$primary: $morphic-blue-color;
$success: $morphic-green-color;

$primary-color: $primary;
$success-color: $success;

$link-color: #007bff; // $blue
$link-color-darker: #405e81;

$headings-font-weight: bold;

/** Convert px to em, for bar items */
@function em($pixels) {
  @return ($pixels / 14px) * 1em;
}
